{% extends 'main.html' %}

{% block content %}
	<style>
		.table img {
            max-width: 150px; /* Ограничиваем максимальную ширину картинки */
            height: auto;
            display: block;
            margin: 0 auto;
        }
	</style>
	<h3>Цвета филамента - {{type_connection}}</h3>
	<table bgcolor="#eeeeee">
 	<tr>
 		<th>Название</th>
 		<th>Hex</th>
 		<th>Изображение</th>
 	</tr>
 	{% for color in colors: %}
 	<tr class="table">
 		<td><h4> 
 			<a href="{{ url_for('show_example', type_connection=color.type_connection, color=color.name) }}">{{ color.name }}</a>
 		</h4></td>
 		<td>{{ color.hex }}</td>
 		<td><img src={{ color.image }} alt="Не прогрузилось("></td>
 	</tr>
 	{% endfor %}
 </table>
{% endblock %}