{% extends 'main.html' %}


{% block content %}
    <style>
        .gallery {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 15px;
            padding: 15px;
        }

        .gallery img {
            width: 75%;
            height: 200px;
            object-type: cover; /* или object-fit: cover */
            border-radius: 8px;
        }
        .photo {
            border: 3px solid black; /* толщина, стиль, цвет */
        }
        figcaption {
            font-size: 15px;
        }
    </style>    
	<h3>Примеры - {{producer}} - {{typefil}} - {{color}}</h3>
    <a href="{{ url_for('add_example', color_connection=color_connection) }}">
        <button type="submit">Добавить пример</button>
    </a>
    <p></p>
    <div class="gallery">
 	  {% for example in examples: %}
            <figure class="photo">
                <img src={{ example.image }} alt="Не прогрузилось(">
                <div class="signature">
                    <figcaption>{{ example.desc }}</figcaption>
                    <figcaption>User - {{ example.user }}</figcaption>
                </div>
            </figure>
 	  {% endfor %}
    </div>
{% endblock %}