{% extends 'main.html' %}

{% block content %}
	<h3>Привет, мой друг! Это приложение для определения цвета филамента разных производителей
       (примеры готовых изделий).</h3>
    <h3>Когда покупаешь филамент, тяжело определить цвет изделия из него. Надеюсь это приложение вам поможет.</h3>
    <div class="item">
            <form action="filament/search/" method="get">
                <input type="text" name="q" placeholder="Введите цвет..." required>
                <button type="submit">Поиск</button>
            </form>
    </div>
{% endblock %}