{% extends 'main.html' %}

{% block content %}
<style>
        .a_rating {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFFFF0;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
        }
        img {
            width: 300px;
            height: 400px;
            object-type: cover; /* или object-fit: cover */
            border-radius: 8px;
            border: 1px solid black; /* толщина, стиль, цвет */
        }
</style>
<div class="container">
    <div class="item">
        <img src={{ example.image }} alt="Не прогрузилось(">
    </div>
    <div class="item">
        <table bgcolor="#eeeeee">
            <tr class="table">
                <tbody>
                    <tr>
                        <td>Принтер</td>
                        <td>{{ example.printer }}</td>
                    </tr>
                    <tr>
                        <td>t стола °C</td>
                        <td>{{ example.table_temperature }}</td>
                    </tr>
                    <tr>
                        <td>t экструдера °C</td>
                        <td>{{ example.extruder_temperature }}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ example.desc }}</td>
                    </tr>
                    <tr>
                        <td>Пользователь</td>
                        <td>{{ example.user }}</td>
                    </tr>
                </tbody>
        </table>
        <div class="rating">
            <a href="{{ url_for('up_rating', id=example.id) }}" class="a_rating">👍</a>
            <a href="{{ url_for('down_rating', id=example.id) }}" class="a_rating">👎️</a>
        </div>
        <p>Рейтинг - {{ example.raiting }}</p>  
    </div>
</div>    
{% endblock %}